/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }
   
   .wy-nav-content {
    max-width: 1200px !important;
}
   
   .wy-side-nav-search {background-color: #32a55c}

   .wy-table-responsive {
      overflow: visible !important;
   }
}
