-e git+https://github.com/ulrobix/sphinxcontrib-contentui.git#egg=sphinxcontrib-contentui
# For fancy 404 pages
sphinx-notfound-page
# For warning message to new site
git+https://github.com/humitos/sphinx-version-warning@master#egg=sphinx-version-warning
