-e git+https://github.com/ulrobix/sphinxcontrib-contentui.git#egg=sphinxcontrib-contentui
# For fancy 404 pages
sphinx-notfound-page
# old git+https://github.com/rtfd/sphinx-notfound-page@master#egg=sphinx-notfound-page
# For UML
-e git+https://github.com/sphinx-contrib/plantuml.git#egg=sphinxcontrib-plantuml
# Fix Toctree error https://github.com/readthedocs/readthedocs.org/issues/8070 add latest versions sphinx & sphinx_rtd_theme
sphinx_rtd_theme==0.5.2
sphinx==3.5.3
# For warning message to new site (versionwarning)
git+https://github.com/humitos/sphinx-version-warning@master#egg=sphinx-version-warning
# sphinx-version-warning == 1.1.2
# Tabs
# git+https://github.com/executablebooks/sphinx-tabs@master#egg=sphinx-tabs
sphinx-tabs==3.1.0
